DATABASE_URL=

AUTH_SECRET=
SESSION_SECRET=
BETTER_AUTH_URL=
BETTER_AUTH_TRUSTED_ORIGINS=
ADMIN_USERNAME=
ADMIN_DISPLAY_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

ORIGIN=

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
ALLOWED_DISCORD_IDS=